<!DOCTYPE html>
<html>
<head>
    <title>My Nginx Page</title>
</head>
<body>
    <h1>Hello, {{ ansible_user_id }}@{{ ansible_hostname }}!</h1>
    <p>This page displays the username and hostname of the server.</p>
</body>
</html>
